##https://about.gitlab.com/blog/2020/04/07/15-git-tips-improve-workflow/
# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Ramesh Naidu
email = rameshnaidu@gmail.com

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = white bold
[color "status"]
  added = yellow
  changed = white
  untracked = cyan
[alias]
    co = checkout
    ci = commit
    br = branch


[core]
	excludesFile = /Users/ramesh/.gitignore
[rebase]
	autosquash = true
[fetch]
	prune = true
